<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body class="bg-n600 cr-n0">
    <%- include('./layout/header'); -%>
    <section class="exploreAI-hero py-7 py-md-8">
      <div class="container">
        <h2 class="h2 mb-3 mb-md-4">探索 AI 工具</h2>
        <p class="fs-body-md">發現 5,000+ 個能改變你生活方式的智慧應用</p>
      </div>
    </section>
    <section class="tool-list py-6 py-md-7">
      <div class="container">
        <div
          class="tool-list__title d-flex justify-content-between mb-5 mb-md-6"
        >
          <h3 class="h3">
            所有工具<span class="fs-body-sm ms-2 cr-n200">共 5,316 項結果</span>
          </h3>
          <ul class="d-flex list-unstyled align-items-center mb-0">
            <li class="pe-3 me-3 border-end border-secondary">
              <a href="#" class="text-reset text-decoration-none">最新上架</a>
            </li>
            <li>
              <a href="#" class="text-reset text-decoration-none">最熱門</a>
            </li>
          </ul>
        </div>
        <div class="tool-list__content">
          <div class="row">
            <div class="col-0 col-md-3 d-none d-md-block">
              <ul class="list-unstyled">
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >內容生成</a
                  >
                </li>
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >視覺設計</a
                  >
                </li>
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >影像製作</a
                  >
                </li>
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >程式開發</a
                  >
                </li>
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >教育與學習</a
                  >
                </li>
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >資料分析</a
                  >
                </li>
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >生產力工具</a
                  >
                </li>
                <li class="mb-4 p-2 fs-body-md">
                  <a href="#" class="text-reset text-decoration-none"
                    >音樂創作</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-9"></div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
