<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body class="bg-n600 cr-n0">
    <%- include('./layout/header'); -%>
    <section class="hero">
      <h2>探索適合你的 AI 工具<br />讓工作與生活更有效率</h2>
      <p>
        從文字生成、圖片設計到程式輔助<br />一站式探索並訂閱你需要的 AI 解決方案
      </p>
      <div class="input-group search-box hero-search-custom">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-search text-muted"></i>
        </span>
        <input
          type="text"
          class="form-control bg-white border-start-0"
          placeholder="輸入工具名稱、功能或關鍵字"
        />
      </div>
    </section>
    <section class="categories"></section>
    <section class="editors-pick"></section>
    <section class="new-in"></section>
    <section class="upload-ai"></section>
    <section class="faq"></section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
