$spacer: 1rem !default; // 16px

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.5,
) !default;

$spacers: map-merge(
  $spacers,
  (
    6: $spacer * 2,
    7: $spacer * 4,
    8: 100px,
    9: 120px,
  )
);
